src/main/mule/implementations/get-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get:\cases\(nationalID):covid-papi-config" doc:id="2f84bff6-636d-4b21-92f3-f1f97f5a5333" >
		<set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationId" doc:id="a8a74d0e-4510-4149-a981-4a83e3eed2f7" variableName="correlationId" />
		<logger level="INFO" doc:name="Start Log" doc:id="b45d6cc0-8a82-431b-bfa3-a5f57e989ad7" message="transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: Started register covid case flow, payload: #[payload]" />
		<ee:transform doc:name="Create Variables" doc:id="90eb098a-7e4d-4e42-b9fa-a3abdfd97516" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="uhubHeaderParameters" ><![CDATA[%dw 2.0
output application/java
---
{
	"client_id": Mule::p('ehub.sapi.client_id'),
	"client_secret": Mule::p('ehub.sapi.client_secret'),
	"x-transaction-id": vars.transactionId,
	"x-correlation-id": vars.correlationId
}]]></ee:set-variable>
				<ee:set-variable variableName="covidCasePayload" ><![CDATA[{
	nationalID: attributes.uriParams.nationalID
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="check-case-exist" doc:id="283f2a1d-764a-40e9-a441-6eb34decae4d" name="check-case-exist" />
		<ee:transform doc:name="Set Response" doc:id="6400f2b3-d87a-43bb-ab55-b440f1bf8cd4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if(payload.code != 404) payload else {
	code : 200,
	message : "Case registration is in progress",
	description: "Case registration is in progress, please reach out to support team in case the registration is taking more then 12 hours",
	dateTime : now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" },
	transactionId : vars.transactionId
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
